
<section >
    <div class="row mb-5 justify-content-center" style="background-color: rgba(3, 37, 24, 0.082);">
      <div class="col-md-6 text-center " style="margin: 6em; color: black; font-weight: bolder;">
        <h3 ><b>Supporting Ontario Covid-19 Vaccination Program</b></h3>
        <h2 class="section-title mb-3">Our Mission</h2>


        <p>Our mission is to help eligible people to book covid vaccination appointments easily.</p>
      </div>
      
    </div>
    <app-footer></app-footer>
  </section>


