 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Log In</title>
 </head>
 <body>
    <div class="container col-4 bg-info.bg-gradient">     
        <form   class="bg-info" style="padding:50px" [formGroup] = "adminCreds">                   
            <div class="col-md-12">
                <h1 class="h3 mb-4 font-weight-normal text-center">Log In</h1>
            </div>                   
            <div class="col-sm-12">
              <input type="text" formControlName="userName" class="form-control"  placeholder="username"   required>
            </div>          
          <br>            
            <div class="col-sm-12">
              <input type="password"  formControlName="password" class="form-control"  placeholder="password"  required>
            </div>       
          <br>                
          
            <div   class="col-sm-12 text-center">
              <button  type="submit" (click)=checkLogin()   class="btn btn-primary text-center">Log In</button> 
              <!-- [disabled]="adminCreds.invalid" -->
              <!-- <a [routerLink]="['/passwordreset']"><button type="submit" class="btn btn-primary text-center float-right">Reset Password</button></a> -->
             
            </div>        
        </form>
      </div>
      <app-footer></app-footer>
 </body>
 </html>

