
<div class="site-section bg-light" id="contact-section" style="background-image: url(./assets/images/slide3.jpg);">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h3 class="section-sub-title">Contact Form</h3>
        <h2 class="section-title mb-3">Get In Touch</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 mb-5">



        <!-- <form (ngSubmit)="onSubmit(exampleForm.value)" id='theform' class="p-5 bg-white" [formGroup]="exampleForm" >


          <h2 class="h4 text-black mb-5">Contact Form</h2>

          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
              <label class="text-black" name="fname">First Name</label> <input type="text" id="fname" formControlName="firstname" 
                class="form-control rounded-0"  >
                <div *ngFor="let validation of validation_messages.name">
                  <p *ngIf="exampleForm.get('firstname').hasError(validation.type) && (exampleForm.get('firstname').dirty || exampleForm.get('firstname').touched)">{{validation.message}}</p>
                </div>
                
            </div>
            
            <div class="col-md-6">
              <label class="text-black" name="lname">Last Name</label> <input type="text" id="lname" formControlName="lastname"
                class="form-control rounded-0" >
              
                <div *ngFor="let validation of validation_messages.lname">
                  <p *ngIf="exampleForm.get('lastname').hasError(validation.type) && (exampleForm.get('lastname').dirty || exampleForm.get('lastname').touched)">{{validation.message}}</p>
                </div>  
            </div>
          </div> -->

          <!-- <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black" name="email">Email</label> <input type="email" id="email" 
                class="form-control rounded-0">
             
            </div>
          </div>

          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black" name="subject">Subject</label> <input type="subject" id="subject" 
                class="form-control rounded-0" >
             
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" name="message">Message</label>
              <textarea name="message" id="message" cols="30" rows="3" class="form-control rounded-0" 
                placeholder="Write your notes or questions here..."></textarea>
              
            </div>
          </div> -->

         <!--  <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Send Message" name="action" class="btn btn-black rounded-0 py-3 px-4"[disabled]="!exampleForm.valid"> -->
             <!-- //[disabled]="!exampleForm.valid"  -->
         <!--    </div>
          </div>
          
          
        </form>
        
      </div>

    </div>

  </div>
</div> -->

<!-- <h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form> -->








