<div style="margin-top: 100px;"></div>
<div class="site-section bg-light" id="contact-section" style="background-image: url(./assets/images/slide3.jpg);">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h3 class="section-sub-title">Contact Form</h3>
        <h2 class="section-title mb-3">Book your appointment
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 mb-5">

        <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
          {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
        </button>
        <mat-card style="min-width: 500px;min-height: 500px;padding: 20px;">

          <mat-horizontal-stepper fxLayout="column" [linear]="false" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Now booking
                </ng-template>
                <mat-card-content>
                  <p>
                    The following groups are currently eligible to book COVID-19 vaccine appointments. Do not book an
                    appointment if you’re not part of an eligible group in Peel. We’ve outlined the booking details for
                    each group as well as what proof of eligibility you’ll need to bring to your appointment.
                  </p>
                  <p>
                    You will not receive your vaccine if you do not bring the required proof of eligibility documents to
                    the clinic or if you book an appointment and are not eligible. The information we provide is for
                    people booking appointments in Peel.
                  </p>
                </mat-card-content>
                <!-- <mat-form-field>
                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                  </mat-form-field> <br> -->
                <mat-card-content>Select Age Group:</mat-card-content>
                <mat-list role="list">
                  <mat-radio-group formControlName="options">

                    <mat-list-item role="listitem" *ngFor="let x of radioList; let i = index">
                      <mat-radio-button color="primary" [checked]="i == defaultSelected" [value]="i"
                        (change)="selection = $event.value">
                        {{x.name}}
                      </mat-radio-button>
                    </mat-list-item>
                  </mat-radio-group>
                </mat-list>
                <!-- <mat-card style="margin-top: 0rem;font-size: smaller;">
                      
                      <div *ngIf="selection==0">You must be 18 years or older at the time of your vaccine appointment.

                        Live in a hot spot community
                        You can book an appointment through Ontario's booking system.
                        
                        The hot spot postal codes for Peel are:
                        
                        L4T, L4W, L4X, L4Z
                        L5A, L5B, L5C, L5K, L5L, L5M, L5N, L5R, L5V, L5W
                        L6P, L6R, L6S, L6T, L6V, L6W, L6X, L6Y, L6Z
                        L7A, L7C
                        Call Ontario's vaccine booking line at 1-833-943-3900 (TTY 1-866-797-0007) if you need help.</div>
                      <div *ngIf="selection==1">You can book an appointment through the Region of Peel's booking system.

                        The postal codes for this group are:
                        
                        L4V, L4Y
                        L5E, L5G, L5H, L5J, L5S
                        L7E, L7K
                        If you need help booking, call the Region of Peel COVID-19 Vaccination Line at 905-791-5202, 8 a.m. to 8 p.m., 7 days a week.</div>
                      <div *ngIf="selection==2">Appointments can be booked using Ontario's booking system. Call 1-833-943-3900 to book by phone.

                        Book appointment
                        
                        Appointments can also be booked at a hospital-run clinic in Peel.
                        
                        What to bring to your appointment
                        Proof of age - for example an Ontario health card or another form of government issued photo ID like a driver's license, passport, status card, or valid health card from another province.</div>
                    </mat-card> -->





                <div>
                  <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <mat-form-field>
                  <input matInput placeholder="First Name" formControlName="firstName" required>
                </mat-form-field>
                <span>&nbsp;</span>
                <mat-form-field>
                  <input matInput placeholder="Last Name" formControlName="lastName" required>
                </mat-form-field>
                <span>&nbsp;</span>
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
                </mat-form-field>
                <span>&nbsp;</span>
                <mat-form-field>
                  <input matInput placeholder="Address" formControlName="address" required>
                </mat-form-field>
                <span>&nbsp;</span>
                <mat-form-field>
                  <input matInput placeholder="Health Card Number" formControlName="healthCardNumber" required>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Birth date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" width="25%">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <input matInput name="zipCode" placeholder="Zip Code" mask='00000-0000' formControlName="postalcode">
                  <!-- <mat-error *ngIf="f.postalcode.errors.pattern">
                    Pattern should be <strong>M9W7B4</strong>
                  </mat-error> 
                  <mat-error *ngIf="f.postalcode.errors.required">
                    PostCode is Required field.
                  </mat-error>  -->
                </mat-form-field><br />



                <div>
                  <button mat-raised-button color="primary" matStepperPrevious>Back</button><span> &nbsp;</span>
                  <button mat-raised-button color="primary" matStepperNext>Next</button>

                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Booking Appointment Date</ng-template>

              <!-- <p style="font-size: 15px;">
                <p></p><br>
                Booking sceduling template comes here 
               <p>loren ipsum loren ipsumloren ipsumloren ipsumloren ipsumloren ipsumloren ipsum</p>
        -->    <mat-list-item>
              <p style="font-size: 15px;margin-top: 10px;">Please select Clinic near to your location:</p>
              </mat-list-item>
              <mat-list-item>
              <mat-form-field appearance="fill">
                
                <mat-label>Choose an option</mat-label>
                <mat-select formControlName="clinicId" [(ngModel)]="clinicdefault">
                  <mat-option value="1" >HighTech Clinic,Vaughan</mat-option>
                  <mat-option value="2">Aradhya Clinic, Etobicoke</mat-option>
                  <mat-option value="3">Sandhya Clinic , North York</mat-option>
                </mat-select>
              </mat-form-field>
              </mat-list-item>
              <mat-label>Select datw</mat-label>
              <mat-list-item><mat-form-field>
                <mat-label>Booking Date</mat-label>
                <input matInput [matDatepicker]="picker1"  formControlName="bookdatectrl" width="25%"  (dateChange)="valueChanged($event)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field></mat-list-item>
              
                <!-- <mat-radio-group aria-label="Select an option" formControlName="datePicker">
                  <mat-list-item role = "listitem">  <mat-radio-button value="1">Option 1</mat-radio-button></mat-list-item>
                  <mat-list-item role = "listitem">  <mat-radio-button value="1">Option 2</mat-radio-button></mat-list-item>
                
                </mat-radio-group> -->
               
                <!-- <span  *ngFor="let card of cards" style="min-width: 500px;min-height: 60px;overflow: scroll;">
                    <mat-card [label]="card.label" style="margin-bottom: 10px;width: 35%;" formControlName="cardctrl" [(ngModel)]="carddata" appMaterialhover>{{card.label }} </mat-card> 
                    
                </span> -->

                 <mat-card-content *ngIf="toggle">Select Available timeslot:</mat-card-content>
                <mat-list role="list">
                  <mat-radio-group formControlName="timeslotId">

                    <mat-list-item role="listitem" *ngFor="let m of cards; let c = index">
                      <mat-radio-button color="primary" [checked]="c == defaultSelected" [value]="c"
                        (change)="selection = $event.value">
                        {{m.label}}
                      </mat-radio-button>
                    </mat-list-item>
                  </mat-radio-group>
                </mat-list>
<!-- 
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Multiple Selection</mat-card-title>
                    <mat-card-subtitle>You can select multiple items just by clicking</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <ul [cdkSelection]="selected" cdkSelectionStrategy="multiple" (selectionChange)="onSelectionChange($event)">
                      <li *ngFor="let item of cards"><button mat-stroked-button [cdkSelectionToggle]="item.value">{{item.label}}</button></li>
                    </ul>
                  </mat-card-content>
                </mat-card> -->
                
                <mat-card-content>Select Age Group:</mat-card-content>
                <mat-list role="list">
                  <mat-radio-group formControlName="vaccineId">

                    <mat-list-item role="listitem" *ngFor="let n of radioListforVaccine; let a = index">
                      <mat-radio-button color="primary" [checked]="a == defaultSelected" [value]="a"
                        (change)="selection1 = $event.value">
                        {{n.name}}
                      </mat-radio-button>
                    </mat-list-item>
                  </mat-radio-group>
                </mat-list>

              <div style="margin-top: 350px;">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button><span>&nbsp;</span>
                <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button><span>&nbsp;</span>
                <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
              </div>
              </form>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- <form (ngSubmit)="onSubmit(exampleForm.value)" id='theform' class="p-5 bg-white" [formGroup]="exampleForm" >


          <h2 class="h4 text-black mb-5">Contact Form</h2>

          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
              <label class="text-black" name="fname">First Name</label> <input type="text" id="fname" formControlName="firstname" 
                class="form-control rounded-0"  >
                <div *ngFor="let validation of validation_messages.name">
                  <p *ngIf="exampleForm.get('firstname').hasError(validation.type) && (exampleForm.get('firstname').dirty || exampleForm.get('firstname').touched)">{{validation.message}}</p>
                </div>
                
            </div>
            
            <div class="col-md-6">
              <label class="text-black" name="lname">Last Name</label> <input type="text" id="lname" formControlName="lastname"
                class="form-control rounded-0" >
              
                <div *ngFor="let validation of validation_messages.lname">
                  <p *ngIf="exampleForm.get('lastname').hasError(validation.type) && (exampleForm.get('lastname').dirty || exampleForm.get('lastname').touched)">{{validation.message}}</p>
                </div>  
            </div>
          </div> -->

<!-- <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black" name="email">Email</label> <input type="email" id="email" 
                class="form-control rounded-0">
             
            </div>
          </div>

          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black" name="subject">Subject</label> <input type="subject" id="subject" 
                class="form-control rounded-0" >
             
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" name="message">Message</label>
              <textarea name="message" id="message" cols="30" rows="3" class="form-control rounded-0" 
                placeholder="Write your notes or questions here..."></textarea>
              
            </div>
          </div> -->

<!--  <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Send Message" name="action" class="btn btn-black rounded-0 py-3 px-4"[disabled]="!exampleForm.valid"> -->
<!-- //[disabled]="!exampleForm.valid"  -->
<!--    </div>
          </div>
          
          
        </form>
        
      </div>

    </div>

  </div>
</div> -->

<!-- <h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form> -->