<!-- <mwl-calendar-month-view [viewDate]="viewDate" id="calendar-section">
</mwl-calendar-month-view>

<mwl-calendar-week-view [viewDate]="viewDate">
</mwl-calendar-week-view>
<mwl-calendar-day-view [viewDate]="viewDate">
</mwl-calendar-day-view> -->


<div class="alert alert-info">
    Click on a day or time slot on the view.
    <strong *ngIf="clickeddDate"
      >You clicked on this time: {{ clickeddDate | date:'medium' }}</strong
    >
    <strong *ngIf="clickedColumn != null"
      >You clicked on this column: {{ clickedColumn }}</strong
    >
  </div>
  <div>{{title | date:'medium'}}</div>

<div class="row text-center">

    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                Next
            </div>
        </div>
    </div>
    

    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                Month
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                Week
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Day
            </div>
        </div>
    </div>
</div>


<!-- <mwl-calendar-month-view [viewDate]="viewDate" id="calendar-section">
</mwl-calendar-month-view> -->
<div [ngSwitch]="view" id="calendar-section" style="max-width:1000px; margin:20px auto 20px auto;">

    <!-- <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" (columnHeaderClicked)="clickedColumn = $event.isoDayNumber" (dayClicked)="dayClicked($event.day)" > -->
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" 
        [events]="events" (columnHeaderClicked)="clickedColumn = $event.isoDayNumber" 
        (beforeViewRender)="beforeMonthViewRender($event)" 
        (dayClicked)="dayClicked($event.day)" >
    </mwl-calendar-month-view>

    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [hourSegments]="6" [dayStartHour]="startHour"
    [dayEndHour]="closeHour" [viewDate]="viewDate" [events]="events" (dayHeaderClicked)="clickeddDate = $event.day.date"
    (hourSegmentClicked)="clickedDate = $event.date;" (click)="secClick()" (beforeViewRender)="beforeWeekOrDayViewRender($event)"
    (hourSegmentClicked)="hourSegmentClicked($event.date)">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [hourSegments]="6" [dayStartHour]="startHour"
    [dayEndHour]="closeHour" [viewDate]="viewDate" [events]="events" (hourSegmentClicked)="myMethod($event.date)">
    <!-- [dayEndHour]="closeHour" [viewDate]="viewDate" [events]="events" (hourSegmentClicked)="clickeddDate = $event.date"> -->
    (beforeViewRender)="beforeWeekOrDayViewRender($event)"
    (hourSegmentClicked)="hourSegmentClicked($event.date)"
    </mwl-calendar-day-view>

</div>